#team-list {
    --table-color: 170, 184, 196;
    --alpha: 0.4;
    margin: auto;
}

#team-list > div {
    margin: 25px 0;
}

#team-list .table-heading {
    padding: 10px;
    text-align: center;
    font-size: large;
    border-bottom: 1px dashed black;
    background-color: rgb(var(--table-color));
}

#team-list form {
    padding: 10px;
    background-color: rgb(var(--table-color));
}
